@mixin box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
  margin: 2rem 0.5rem;
  border-radius: 5px;
  color: $colorfont;
  font-weight: 600;
  font-size: 1.5 rem;
}
