$primaryFont: Arial, Helvetica, sans-serif;
$secondaryFont: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

$color1: rgb(212, 77, 77);
$color2: rgb(146, 41, 41);
$color3: rgb(214, 192, 192);
$color4: rgb(100, 82, 199);
$color5: rgb(214, 192, 192);
$color6: rgb(90, 152, 170);

$boxShadowA: -10px 10px 5px 0px rgba(0, 0, 0, 0.5);
$boxShadowB: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);