
  .nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: rgb(37, 60, 189);
  }
    @media screen and (max-width: 750px) {
      .nav {
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
      }
    }
    .item {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 50px;
      font-family: sans-serif;
      font-size: 1.5rem;
      color: white;
      text-decoration: none;
      transition: background-color .3s, color .3s;

      &:hover {
        background-color: rgb(67, 85, 185);
        color: white;
      }
    }
     
      